.container{
    padding-top: 45px;
    padding-bottom: 55px;
}
.search{
    width: 80%;
    
}
.search input{
    background-color: #fff;
    border:1px solid #ccc;
    height: 50px;
    text-align: left;
}
button{
    background-color: pink;
}
.box{
    margin-top: 10px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list{

}
.list li{
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    margin: 10px auto;
    position: relative;
    line-height: 40px;
}
.list .delete{
    position: absolute;
    top: 7px;
    right: 10px;
}